.auth {
  h1 {
    text-align: center;
  }

  &__form {
    display: flex;
    gap: 20px;
    flex-direction: column;

    &__field {
      width: 300px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
