<div class="landing-page">
  <app-navbar class="navbar-forward"></app-navbar>

  <section id="home">

    <div class="middle-container">
      <div class="middle-container__text">
        <div class="middle-container__text--header">
          <p class="middle-container__text--header--large">Be Unique</p>
          <p class="middle-container__text--header--small">With all of the biggest names in fashion, you'll be amazed to find the best designer clothing.</p>
        </div>
        <a href="#">Browse all collections</a>
      </div>
      <div class="middle-container__image">
        <img class="spray" src="assets/spray.png">
        <img class="man" src="assets/man1.png">
      </div>
    </div>

    <div class="bottom-container">
      <div class="bottom-container__categories">
        <div class="bottom-container__categories__item">
          <div class="image">
            <div class="categories_item--square">
              <img class="categories_item--product" src="assets/product1.png">
            </div>
          </div>
          <div class="text">
            <h4>Clothes</h4>
            <a href="#">See All</a>
          </div>
        </div>

        <div class="line"></div>

        <div class="bottom-container__categories__item">
          <div class="image">
            <div class="categories_item--square">
              <img class="categories_item--product" src="assets/product2_2.png">
            </div>
          </div>
          <div class="text">
            <h4>Shoes</h4>
            <a href="#">See All</a>
          </div>
        </div>

        <div class="line"></div>

        <div class="bottom-container__categories__item">
          <div class="image">
            <div class="categories_item--square">
              <img class="categories_item--product" src="assets/product3_2.png">
            </div>
          </div>
          <div class="text">
            <h4>Accessories</h4>
            <a href="#">See All</a>
          </div>
        </div>
      </div>
      <div class="bottom-container__media">
        <div class="bottom-container__media__item">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </div>
        <div class="bottom-container__media__item">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </div>
        <div class="bottom-container__media__item">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </div>
      </div>
    </div>
  </section>

</div>
