/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Oswald&family=Outfit:wght@100;400;700&family=Signika+Negative:wght@400;600&display=swap');

$base-background-color: #f6f6f6;
$base-text-color: #282828;
$second-text-color: #6a6a6a;
$light-color: #b9b9b9;
$color-blue: #0068ca;
$color-blue-2: #0f1d54;
$color-blue-3: #8dbcff;
$color-blue-4: #568fd7;

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
